# 1
## Convert string to Pascal case Mr Narayana Tech House

# if " all is well" given then it will be represented in the pascal case as "AllIsWell"
# it is simply each first character in the string will be capital

In [3]:
# upto somewhat okay  and good thought
str1="all is well"
l1=str1.title() # All Is Well
str2=l1.replace(" ","") # replace the space with an empty string
print(str2)

AllIsWell

In [9]:
# convert the first character to upper() and remaining characters to lower case.
st="india is the greatest country"
l1=st.split()
str1="" # take an empty string here if u want to add other strings continously.
for i in l1:
    str1=str1+i[0].upper()+i[1:].lower()
print(str1)

IndiaIsTheGreatestCountry

In [10]:
"ALL is WEll".title()

'All Is Well'

# 2
## Convert string to the camel case

# here complete first word will be in lower case and from the second word,every first character will be the upper case only.
ex- allIsWell

In [13]:
st="india is the greatest country"
l1=st.split()
str1="" # take an empty string here if u want to add other strings continously.
for i in l1[1:]:
    str1=str1+i[0].upper()+i[1:].lower()
print(l1[0].lower()+str1)

indiaIsTheGreatestCountry

In [14]:
# it is always better to use the floats only when we are performing mathematical calculations
# since int cannot be useful when user give the float.
# but float will work even if the user gives int values.

In [15]:
a=float(input("Enter a value:"))
b=float(input("Enter b value:"))
sum=a+b
diff=a-b
print(sum,diff)

Enter a value:10.14
Enter b value:34.36
44.5 -24.22

# 3
## Convert string into the snake case

In [34]:
# each word should be joined using the _ character wherever the space is present.
str1="all is well"
l1=str1.split()
"_".join(l1)

'all_is_well'

In [38]:
# without using any inbuilt functions,perform this operations.
s1=""
for i in str1:
    if i==" ":
        s1=s1+"_"
    else:
        s1=s1+i
print(s1)

all_is_well

In [36]:
# we can simply use the replace such as wherever space is present, replace with the _.
print(str1.replace(" ","_"))

all_is_well

# 4
## Reverse the string.

In [21]:
# using the string method
import string
str1="Indrasena reddy"
print(reversed(str1)) # this gives an iterator object here 
"".join(reversed(str1)) # we need to use the join() and print it.

<reversed object at 0x000001BC26B6EEB0>

'ydder anesardnI'

In [22]:
import string
str1="Indrasena reddy"
print(reversed(str1)) # this gives an object here 
"_".join(reversed(str1))

<reversed object at 0x000001BC26B68D60>

'y_d_d_e_r_ _a_n_e_s_a_r_d_n_I'

In [25]:
for i in reversed(str1): # to print the values in the generator or an iterator,we need to use the for loop
    print(i)

y
d
d
e
r

a
n
e
s
a
r
d
n
I

In [27]:
str1="Indrasena reddy"
s=""
for i in str1:
    s=i+s # just first add the i value here.
print(s)

ydder anesardnI

In [28]:
# we can also use the slicing method here.
# for backward slicing use the negative indexes
for i in str1[-1::-1]:
    print(i)

y
d
d
e
r

a
n
e
s
a
r
d
n
I

In [29]:
for i in str1[-1:0:-1]:
    print(i)

y
d
d
e
r

a
n
e
s
a
r
d
n

In [31]:
# without using the for loop we can simply print like this here.
print(str1[-1::-1])

ydder anesardnI

# 5
## Python string : Ascending order

In [39]:
str1="Python is easy language"
print(sorted(str1))

[' ', ' ', ' ', 'P', 'a', 'a', 'a', 'e', 'e', 'g', 'g', 'h', 'i', 'l', 'n', 'n', 'o', 's', 's', 't', 'u', 'y', 'y']

In [40]:
"".join(sorted(str1))

'   Paaaeegghilnnosstuyy'

# 6
## Descending order

In [45]:
print("".join(sorted(str1,reverse=True)))

yyutssonnlihggeeaaaP

In [46]:
# 7
## print square root of a number

import math
print(math.sqrt(100))

10.0

# 7
## Reversing the words in a string

In [5]:
# All is well" should be printed as "well is All"
str1="All is well"
st=" "
for i in str1.split():
    st=i+" "+st
print(st)

well is All

In [7]:
# we can also use the reversed()
print(reversed(str1.split()))

<list_reverseiterator object at 0x000001EAB81A92E0>

In [9]:
" ".join(reversed(str1.split()))

'well is All'

# 8
## Swapping the cases of string (without using the swapcase())

In [12]:
# converting lowercase into the upper case and upper into the lower case
str1="All Is WEll"
s1=""
for i in str1:
    if i.islower()==True:
        s1=s1+i.upper()
    elif i.isupper()==True:
        s1=s1+i.lower()
    elif i==" ":
        s1=s1+" "
    else:
        s1=s1+i
print(s1)

aLL iS weLL

In [15]:
# in  a single line also,we can print this.
print(str1.swapcase()) # no arguments needed here. just swapcase() and print it.

aLL iS weLL

# 9
## Interchanging keys and values in dict

In [19]:
dict1={"a":100,"b":200,"c":300,"d":400,"e":500}
dict2={}
for i,j in dict1.items():
    dict2[j]=i
print(dict1)
print(dict2)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
{100: 'a', 200: 'b', 300: 'c', 400: 'd', 500: 'e'}

In [20]:
# we can also use the dictionary comprehension here.
print({value:key for key,value in dict1.items()})

{100: 'a', 200: 'b', 300: 'c', 400: 'd', 500: 'e'}

## 10
# finding the sqaures of all even numbers in the given list

In [21]:
lst=[3,4,5,67,89,34,20]
for i in lst:
    if i%2==0:
        print(i*i)

16
1156
400

In [25]:
# simply using the list comprehension
print([i*i for i in lst if i%2==0])

[16, 1156, 400]

# 11
## Reversing pairs in the dictionary

{"a":100,"b":200,"c":300,"d":400,"e":500}
here pair means key and it's value.
simply we reverse it as 500:"e",400:"d",300:"d".....
        # entire pair will be reversed

In [32]:
dict1={"a":100,"b":200,"c":300,"d":400,"e":500}
l1=[]
for i in dict1.items():
    l1.append(i) # first convert them into the list.
print(l1)
l1.reverse() # if u print it, it will result in None . This effect will takes place on the list itself
print(l1)
print(dict(l1)) # convert the list into dict if only key value pairs are present

[('a', 100), ('b', 200), ('c', 300), ('d', 400), ('e', 500)]
[('e', 500), ('d', 400), ('c', 300), ('b', 200), ('a', 100)]
{'e': 500, 'd': 400, 'c': 300, 'b': 200, 'a': 100}

In [33]:
# we can also create an empty dictionary here and get the desired result we want.
dict1={"a":100,"b":200,"c":300,"d":400,"e":500}
lst=list(dict1.items())
lst.reverse()
d1={}
for key,value in lst:
    d1[key]=value
print(d1)

{'e': 500, 'd': 400, 'c': 300, 'b': 200, 'a': 100}

# 12
## Fetching all Unique elements from the list

In [36]:
l1=[12,13,45,56,56,78,87,12,13,45]
print(set(l1))
print(list(set(l1))) # we can convert list to set and viceversa

{12, 45, 13, 78, 87, 56}
[12, 45, 13, 78, 87, 56]

In [35]:
# without using the set function
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

[12, 13, 45, 56, 78, 87]

# 13
## Fetching only integer values from the list

In [40]:
l1=[12.9,13.0,42,13,45,"mahi",None,True,"raja",34]
for i in l1:
    if type(i)==int:
        print(i)

42
13
45
34

In [41]:
# by using list comprehension,we can perform it in a single line.
print([i for i in l1 if type(i) is int])

[42, 13, 45, 34]

# 14
## Repeating more Number of times in string

In [54]:
# write a program to display the character which is repeating more number of times in the given string
# first fetch all the unique charaters from the string
# make a dictionary using those unique characters and initialize them to 0 using the fromkeys dictionary.

str1="ALl is wellll macha"
s1=set(str1)
print(s1)
dict1={}.fromkeys(s1,0)
print(dict1)
for i in str1:
    if i in dict1:
        dict1[i]=dict1[i]+1
print(dict1)

{'c', 'i', 'l', 'm', 'L', 'a', ' ', 'A', 'e', 's', 'w', 'h'}
{'c': 0, 'i': 0, 'l': 0, 'm': 0, 'L': 0, 'a': 0, ' ': 0, 'A': 0, 'e': 0, 's': 0, 'w': 0, 'h': 0}
{'c': 1, 'i': 1, 'l': 5, 'm': 1, 'L': 1, 'a': 2, ' ': 3, 'A': 1, 'e': 1, 's': 1, 'w': 1, 'h': 1}

In [51]:
print(max(dict1.values()))

3

In [55]:
for j in dict1:
    if dict1[j]==max(dict1.values()):
        print(j,"is the result")

l is the result

# 35
## Fetch all palindrome words in a list:

In [58]:
l1=["eve","aba","python","kaka","mama","malayalam","madam"]
# to get the reverse of a word, simply use the [-1::-1]
for i in l1:
    if i==i[-1::-1]:
        print(i)

eve
aba
malayalam
madam

In [59]:
[i for i in l1 if i==i[-1::-1]]

['eve', 'aba', 'malayalam', 'madam']

# 36
## Reversing the characters (words) in the string

In [62]:
# write a program to reverse the words in the given string
st="Python is an easy language"
st1=st.split()
for i in st1[-1::-1]:
    print(i)

language
easy
an
is
Python

In [63]:
[i for i in st.split()[-1::-1] ]

['language', 'easy', 'an', 'is', 'Python']

In [64]:
print(" ".join(st.split()[-1::-1]))

language easy an is Python

# 37
## Reversing the characters in each word

In [68]:
str1="All is Well"
l1=str1.split()
for i in l1:
    for k in i[-1::-1]:
        print(k)

l
l
A
s
i
l
l
e
W

In [69]:
[k for i in l1 for k in i[-1::-1]]

['l', 'l', 'A', 's', 'i', 'l', 'l', 'e', 'W']

In [70]:
# simply print the word in reverse order is very easy.
st1r1="All is Well"
l1=str1.split()
for i in l1:
    print(i[-1::-1])

llA
si
lleW

# 38
## Displaying the longest and shortest words in the string

In [76]:
str1="I am an Indian and I will do anything for my country"
l1=str1.split()
l2=[len(i) for i in l1]
print(l2)
for i in l1:
    if len(i)==max(l2):
        print(i," is maximum")
    if len(i)==min(l2):
        print(i ,"is minimum")

[1, 2, 2, 6, 3, 1, 4, 2, 8, 3, 2, 7]
I is minimum
I is minimum
anything  is maximum

In [77]:
print([i for i in l1 if len(i)==max(l2)])

['anything']

# 39
## Finding the index numbers of all occurences of same characters

In [79]:
s1="All is well macha"
char=input("enter any character: ")
for i in range(len(s1)):
    if s1[i]==char:
        print(i)

enter any character: l
1
2
9
10

In [80]:
# using functions we can do this very easily.
# most of the above problems can  be solved very easily using funnctions
def f2(s1,char):
    print([i for i in range(len(s1)) if s1[i]==char])
str1="All is well"
for i in str1:
    f2(str1,i)

[0]
[1, 2, 9, 10]
[1, 2, 9, 10]
[3, 6]
[4]
[5]
[3, 6]
[7]
[8]
[1, 2, 9, 10]
[1, 2, 9, 10]

# 40
## Finding the missing number from the list

In [83]:
# you have a list of the numbers
# from the list,we need to find the missing numbers and print them.
# first we need to find out the minimum and maximum numbers from the list.
# then print all the missing numbers from the list.

l1=[33,46,34,49,31,43,37,39,43,44,40]
for i in range(min(l1),max(l1)):
    if i not in l1:
        print(i)

32
35
36
38
41
42
45
47
48

In [88]:
l1=[100,105]
[i for i in range(min(l1),max(l1)) if i not in l1]

[101, 102, 103, 104]