### 1
##### write a program to print given number of * s in  a row

In [2]:
n=int(input("Enter the number of rows:"))
for i in range(n):
    print("*",end="")

Enter the number of rows:8
********

In [4]:
# we can simply like this in one single line.
print("*"*n,end="")

********

In [5]:
# if we want spaces between the stars, then we can give end=" "
n=int(input("Enter the number of rows:"))
for i in range(n):
    print("*",end=" ")

Enter the number of rows:10
* * * * * * * * * *

## 2
### Print square pattern with * symbol

In [7]:
n=int(input("Enter the number of rows:"))
for i in range(n):
    print("* "*n)

Enter the number of rows:7
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

## 3
###  square Pattern  with provided fixed digit

In [11]:
n=int(input("Enter the number of rows:"))
for i in range(n):
    print(f"{n} "*n)

Enter the number of rows:7
7 7 7 7 7 7 7
7 7 7 7 7 7 7
7 7 7 7 7 7 7
7 7 7 7 7 7 7
7 7 7 7 7 7 7
7 7 7 7 7 7 7
7 7 7 7 7 7 7

In [14]:
n=int(input("Enter the number of rows:"))
for i in range(n):
    print((str(n)+" ") *n) # convert n to string datatype.

Enter the number of rows:7
7 7 7 7 7 7 7
7 7 7 7 7 7 7
7 7 7 7 7 7 7
7 7 7 7 7 7 7
7 7 7 7 7 7 7
7 7 7 7 7 7 7
7 7 7 7 7 7 7

In [16]:
# without spaces 
n=int(input("Enter the number of rows:"))
for i in range(n):
    print(str(n) *n)

Enter the number of rows:6
666666
666666
666666
666666
666666
666666

## 4
# Square pattern with provided fixed digit in every row in increasing manner

n=5
1 1 1 1 1
2 2 2 2 2 
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [2]:
n=int(input("enter the no of rows: "))
for i in range(1,n+1):
    print(f"{i} " *n)

enter the no of rows: 7
1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5 5
6 6 6 6 6 6 6
7 7 7 7 7 7 7

In [3]:
n=int(input("Enter the number of rows:"))
for i in range(n):
    print((str(i+1)+" ") *n)

Enter the number of rows:7
1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5 5
6 6 6 6 6 6 6
7 7 7 7 7 7 7

# 5
##  Print a square pattern with fixed alphabet symbol

A A A A A 
A A A A A 
A A A A A 
A A A A A 
A A A A A

In [4]:
chr(86)

'V'

In [6]:
n=int(input(" enter the no of rows: "))
for i in range(n):
    print((chr(65)+" ")*n)

 enter the no of rows: 5
A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [7]:
n=int(input(" enter the no of rows: "))
for i in range(n):
    print(("A ")*n)

 enter the no of rows: 6
A A A A A A
A A A A A A
A A A A A A
A A A A A A
A A A A A A
A A A A A A

# 6
## to print the square pattern with alphabet symbol

Pattern
A A A A A
B B B B B
C C C C C
..........
..........

In [1]:
n=int(input("enter the number of rows: "))
for i in range(0,n):
    print((chr(65+i)+" ")*n)

enter the number of rows: 7
A A A A A A A
B B B B B B B
C C C C C C C
D D D D D D D
E E E E E E E
F F F F F F F
G G G G G G G

# 7
##  to print the sqaure pattern with digits

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [4]:
n=int(input("enter the range: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end=" ")
    print()

enter the range: 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

# 8
## To print the square pattern with alphabet symbols in the dictionary order

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [5]:
n=int(input("enter the range: "))
for i in range(1,n+1):
    for j in range(n):
        print(chr(65+j),end=" ")
    print()

enter the range: 7
A B C D E F G
A B C D E F G
A B C D E F G
A B C D E F G
A B C D E F G
A B C D E F G
A B C D E F G

# 9
## To print square pattern with digits in descending order

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [7]:
n=int(input("enter the no of rows: "))
for i in range(n):
    print(f"{n-i} " *n)

enter the no of rows: 7
7 7 7 7 7 7 7
6 6 6 6 6 6 6
5 5 5 5 5 5 5
4 4 4 4 4 4 4
3 3 3 3 3 3 3
2 2 2 2 2 2 2
1 1 1 1 1 1 1

# 10
## To print square pattern with alphabets in reverse of dictionary order.

In [9]:
n=int(input("enter the number of rows: "))
for i in range(1,n+1):
    print((chr(65+n-i)+" ")*n)

enter the number of rows: 6
F F F F F F
E E E E E E
D D D D D D
C C C C C C
B B B B B B
A A A A A A

# 11
## To print the sqaure pattern with digits in descending order

In [11]:
n=int(input("enter the range: "))
for i in range(1,n+1):
    for j in range(n):
        print(n-j,end=" ")
    print()

enter the range: 6
6 5 4 3 2 1
6 5 4 3 2 1
6 5 4 3 2 1
6 5 4 3 2 1
6 5 4 3 2 1
6 5 4 3 2 1

# 12
## To print a square pattern with alphabets in reverse of dictionary order

In [3]:
n=int(input("enter the range: "))
for i in range(1,n+1):
    for j in range(n):
        print(chr(64+n-j),end=" ")
    print()

enter the range: 5
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

# 13
## To print the right angle triangle pattern with symbol

In [4]:
n=int(input("enter the no of rows: "))
for i in range(1,n+1):
    print(f"*" *i)

enter the no of rows: 5
*
**
***
****
*****

In [6]:
# in every row we need to take i+1 columns.
n=int(input("enter the no of rows: "))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ") 
    print()

enter the no of rows: 5
*
* *
* * *
* * * *
* * * * *

In [7]:
print(range(0,10))

range(0, 10)

In [10]:
for i in range(1):
    print(i)

0

# 14
## To print Right Angled triangle pattern with fixed digit in every row.

In [ ]:
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [12]:
n=int(input("enter the no of rows: "))
for i in range(1,n+1):
    print(f"{i} " *i)

enter the no of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [13]:
n=int(input("enter the no of rows: "))
for i in range(n):
    for j in range(i+1):
        print(i+1,end=" ") 
    print()

enter the no of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# 15
## Print RAT pattern with fixed alphabet symbol

In [17]:
n=int(input("enter the no of rows: "))
for i in range(n):
    print(f"{chr(65+i)} " *(i+1))

enter the no of rows: 5
A
B B
C C C
D D D D
E E E E E

# 16
## To prin the RAT pattern with digits in ascending order in every row

In [18]:
n=int(input("enter the no of rows: "))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ") 
    print()

enter the no of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 17
## To print RAT patter with alphabet symbols in  ascending dictionary order

In [31]:
n=int(input("enter the no of rows: "))
for i in range(n):
    for j in range(i+1):
        print(f"{chr(65+j)} ",end="") 
    print()

enter the no of rows: 5
A
A B
A B C
A B C D
A B C D E

In [28]:
n=int(input("enter the no of rows: "))
for i in range(n):
    for j in range(i+1):
        print(chr(64+j+1),end=" ") 
    print()

enter the no of rows: 5
A
A B
A B C
A B C D
A B C D E

# 18
## RAT pattern with digits in descending order in every row

In [32]:
n=int(input("enter the no of rows: "))
for i in range(n):
    for j in range(i+1):
        print(n-j,end=" ") 
    print()

enter the no of rows: 5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

# 19
## To print RAT patter with alphabet symbols in reverse order  dictionary order

In [35]:
n=int(input("enter the no of rows: "))
for i in range(n):
    for j in range(i+1):
        print(chr(64+n-j),end=" ") 
    print()

enter the no of rows: 5
E
E D
E D C
E D C B
E D C B A

# 20
## Print  inverted RAT pattern with symbols

In [40]:
n=int(input("enter the no of rows: "))
for i in range(1,n+1):
    print("*"*(n-i+1) )

enter the no of rows: 6
******
*****
****
***
**
*

In [39]:
n=int(input("enter the no of rows: "))
for i in range(n):
    print("*"*(n-i) )

enter the no of rows: 7
*******
******
*****
****
***
**
*